[Unit]
Description="Daily invokation of sdbackup.service"

[Timer]
AccuracySec=2m
OnCalendar=*-*-* 08:00:00
Persistent=true
Unit=sdbackup.service

[Install]
WantedBy=timers.target
